.website-background{
    background-color: #123C69;
    margin: 0;
    min-height: calc(100vh - 72px);
}

.carousel{
    /* Shifts page down from the header */
    position: relative;
    /* 
    Minor change to account for header
    top: 35px; 
    */
    padding-top: 1vh;
    padding-bottom: 0.180vh;
    background-color: grey;
}
.carousel-item{
    max-height: 50vh;
}

.mission-quote{
    padding-top: 2vh;
    text-align: center;
    color: #fff;
    text-shadow: #000 0px 0px 4px;
}
.social-media-text{
    /* padding-top: 2vh; */
    padding-bottom: 2vh;
    text-align: center;
    color: #fff;
    text-shadow: #000 0px 0px 4px;
}
.social-media-logos{
    margin: 0;
}
.social-media-names{
    padding-top: 0.4vh;
    text-align: center;
    color: #fff;
    text-shadow: #000 0px 0px 4px;
}